@media(max-width: 720px){
    main{
        display: table-cell;
    }
}

@media(max-width: 511px){

    header{
        text-align: center;
    }

    header nav{
        display: none;
    }

    .banner-text h2{
        font-size: 25px;
    }

    .caixaS h2{
        font-size: 25px;
    }

    .caixaP h2{
        font-size: 25px;
    }
}

@media(max-width: 376px){
    footer{
        display: none;
    }
}